.header {
    display: flex;
    justify-content: center;
    margin: 20px;
    gap: 5px;
}

.container {
    display: flex;
    justify-content: center;
    user-select: none;
}

.grid {
    height: 640px;
    width: 640px;
    display: flex;
    flex-direction: column;
    border-style: solid;
}

.row {
    display: flex;
    flex: 1 1 auto;
}

.box {
    box-sizing: border-box;
    height: auto;
    flex: 1 1 auto;
    border-style: solid;
    border-width: 2px;
    margin: -1px -1px;
    background-color: rgb(255, 255, 255, 0%);
}

